{% extends "base.html" %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cert-Cleaner</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/command">Command</a>
        <!-- <a class="nav-link" href="#">Features</a> -->
        <a class="nav-link" href="#">{{ name }}</a>
        <a class="nav-link" href="/logout">Выйти</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Выполнение команды на сервере.</h1>
    <p class="lead">Разработана @MaxJet 2019 г.</p>
  </main>
  

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Commander service for networkers.</p>
    </div>
  </footer>
</div>
{% endblock %}