{% extends "base.html" %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cert-Cleaner</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/logs">Logs</a>
        <!-- <a class="nav-link" href="#">Features</a> -->
        <a class="nav-link" href="#">{{ data.name }}</a>
        <a class="nav-link" href="/logout">Выйти</a>
      </nav>
      
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Очистка сертификата рабочего места в системе управления конфигурацией.</h1>
    <p class="lead">Для выполнения очистки сертификата, введите имя на машины на которое сгенирован сертификат в поле и нажмите кнопку "Выполнить". Будьте внимательны при вводе имени машины!</p>    
    <div class="row">
      <div class="col-md-8 mb-6">
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">Имя машины:</span>
          </div>
          <input type="text" class="form-control" id="paramFromSellCommand" placeholder="Введите сюда имя машины" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <button class="btn btn-secondary" id="goexec">Выполнить</button>
      </div>
    </div>
    <div class="row">
      <samp><spam id='spamer'>Вывод данных...</spam></samp>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Сервис управления сертификатами системы управления конфигурацией.</p>
    </div>
  </footer>
</div>
{% endblock %}
