{% extends "base.html" %}
{% block content %}
<!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> -->

        <div class="container">
                <div class="row vertical-offset-250">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">Please sign in</h3>
                             </div>
                              <div class="panel-body">
                                <form accept-charset="UTF-8" role="form" method="POST">
                                <fieldset>
                                      <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="text" value="{{data.login}}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="{{data.paswd}}">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                        </label>
                                    </div>
                                    <div class="span-err">
                                        <span>{{data.err}}</span>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                </fieldset>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  <!-- <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Commander service for networkers.</p>
    </div>
  </footer>
</div> -->
{% endblock %}