{% extends "base.html" %}
{% block content %}
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cert-Cleaner</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/command">Command</a>
        <!-- <a class="nav-link" href="#">Features</a> -->
        <a class="nav-link" href="#">{{ data.name }}</a>
        <a class="nav-link" href="/logout">Выйти</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {% for nf in data.files %}
                <li class="list-group-item">{{ nf }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
          <p id='text_file_log'></p>
        </div>
    </div>
  </main>
  

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Commander service for networkers.</p>
    </div>
  </footer>
</div>
{% endblock %}